<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div align="center">
    <div><strong>你的颜值拖垮了服务器，玩个小游戏冷静下先</strong></div>
    <div><embed src="static/car.swf" width="1000" height="500" usemap="#mp"></embed></div>
    <div>
        <form id="f" name="f" action="/admin">
          <span class="btn_wr">
            <input type="button" onclick="ret()" value="返回养猪场" class="btn" onmousedown="this.className='btn btn_h'" onmouseout="this.className='btn'"></span>
            <span class="btn_wr">
            <input type="submit" value="返回控制台" class="btn" onmousedown="this.className='btn btn_h'" onmouseout="this.className='btn'"></span>
        </form>
    </div>
</div>

</body>
<script src="static/js/jquery-3.1.1.min.js"></script>
<script>
    function ret(){
         $('#f').attr("action", "index").submit();
    }

</script>
</html>